<html>
  <head>
    <title>Sawako's Learning Journal</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div>
      <p>published: 09.24.2016, 11:49</p>
      <h2><a href="">My first post</a></h2>
      <p>ajdsfhlkajsdhfkljashdflkjshdfkljha</p>
    </div>
    <div>
      <p>published: 09.24.2016, 11:49</p>
      <h2><a href="">My second post</a></h2>
      <p>ajdsfhlkajsdhfkljashdflkjshdfkljha</p>
    </div>

    {% for post in posts %}
      <div>
        <p>published: {{ post_published_date}}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr}}</p>
      </div>
    {% endfor %}

  </body>
</html>
